.Pageactive 
{
	background: #0b74ce;
    color: #fff !important;
    border-radius: 2px;
}

.main-text-contact {
	text-align: center;
    font-size: 20px;
    font-weight: 900;
}

.footer-logo {
	max-height: 140px;
    width: 70%;
}

.main-text-login {
	 font-size: 20px;
    font-weight: 900;
}

.navbar-brand {
    margin-right: 5px;
}

.navbar-expand-lg .navbar-nav .nav-link
{
    font-size: 15px;
}



/* start table cart*/
.swal2-container{
    z-index: 9999 !important;
}
.cart-table-area {
    margin-top: 35px;
    padding-bottom: 50px;
}
table.main-table {
    width: 100%;
    min-width: 640px;
}
table.main-table th, td {
    border: 1px solid #d6d4d4;
    color: #333;
    font-size: 15px;
    text-align: center;
}
.shopping-cart-table .th1 {
    width: 10%;
}

.shopping-cart-table th {
    padding: 10px 0;
    background: #FBFBFB;
}
.shopping-cart-table td {
    padding: 10px 0;
}
.shopping-cart-table .th2 {
    padding-right: 10px;
    text-align: right;
    width: 30%;
}
.shopping-cart-table .th3 {
    width: 12%;
}
.shopping-cart-table .th4 {
    width: 10%;
}
.shopping-cart-table .th5 {
    width: 20%;
}
.shopping-cart-table .th6 {
    width: 6%;
}
.shopping-cart-table .th7 {
    width: 30%;
}
.shopping-cart-table .td1 img, .td8 img {
    border: 1px solid #d6d4d4;
    height: 120px;
    width: 95px;
}
.shopping-cart-table td.td2,
.shopping-cart-table td.td9 {
    text-align: right;
    padding-right: 10px;
}
.shopping-cart-table .td9 p,
.shopping-cart-table .td2  p {
    margin: 0;
}
.shopping-cart-table .td2 h5, .td9 h5 {
    color: #3a3939;
    font-size: 17px;
    font-weight: 700;
    line-height: 13px;
    text-transform: capitalize;
}
.shopping-cart-table  .td15{
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.shopping-cart-table .td3 span, .td10 span {
    background: #55c65e;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 10px;
    border: 1px solid #36943e;
}
.shopping-cart-table .td3 span.not-available, .td10 span.not-available {
    border: 1px solid #bf000d;
    background: #f13340;
}
.shopping-cart-table .cart-plus-minus {
    display: block;
    overflow: hidden;
}
.shopping-cart-table .decrease.qtybutton {
    background: #fff ;
    border: 1px solid #d6d4d4;
    float: left;
    height: 40px;
    line-height: 32px;
    text-align: center;
    -webkit-transition: all 0.3s ;
    transition: all 0.3s ;
    width: 40px;
    font-size: 25px;
    cursor: pointer;
}
.shopping-cart-table input.cart-plus-minus-box {
    background: #fbfbfb ;
    border: 1px solid #d6d4d4;
    border-left: none;
    border-right: none;
    float: left;
    height: 40px;
    line-height: 38px;
    padding: 0;
    text-align: center;
    width: 80px;
}
.shopping-cart-table .item-qty .cart-plus-minus {
    margin-left: 36px;
}
.shopping-cart-table .increase.qtybutton {
    background: #fff ;
    border: 1px solid #d6d4d4;
    float: left;
    height: 40px;
    line-height: 37px;
    text-align: center;
    width: 40px;
    cursor: pointer;
    -webkit-transition: all 0.3s ;
    transition: all 0.3s ;
}
.shopping-cart-table .decrease.qtybutton:hover,
.shopping-cart-table .increase.qtybutton:hover {
    background: #610795;
    border: 1px solid #610795;
    color: #fff;
}
.shopping-cart-table .td6, .td13 {
    font-size: 20px;
    color: #000;
}
.shopping-cart-table .td16,.shopping-cart-table .td18, .shopping-cart-table .td20,
.shopping-cart-table .td17 {
    background: #fbfbfb ;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    padding: 9px;
    text-align: right;
}
.shopping-cart-table .td17,.shopping-cart-table .td19 {
    color: #333;
    font-weight: 400;
    text-align: center;
}

.shopping-cart-table .td20 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 900;
}
.shopping-cart-table .td21 {
    color: #333;
    font-size: 18px;
}
.shopping-cart-table td.td11 p {
    color: #610795;
    font-size: 14px;
    margin: 3px;
}
.shopping-cart-table .discout {
    background: #f13340;
    color: #fff;
    font-weight: 600;
    padding: 1px 10px;
    border: 1px solid #d02a2c;
}
.shopping-cart-table .tr2:hover, .tr3:hover {
    background: #FBFBFB;
}.del-p i{
     transition: 0.5s;
 }
.del-p i:hover{
    color: #f13340;
    font-size: 27px;
}
/* End table cart*/
/* End cart page*/
/* Start Payment page*/
.shopping-cart-table .th2.pth2 {
    padding-left: 10px;
    text-align: left;
    width: 40%;
}

.payment-confirm{
    background: #fbfbfb;
    margin-top: 30px;
    border: 1px solid #d6d4d4;
    padding: 12px 10px;
    overflow: hidden;
}
.payment-confirm:hover {
    background: #f5f5f5;
}
.payment-confirm a{
    text-decoration: none;
    border: none;
}
.confirm-left {
    width: 10%;
    float: right;
}
.confirm-middle {
    width: 85%;
    float: left;
    font-size: 16px;
    padding-top: 24px;
    font-weight: 700;
}
a .confirm-middle {
    color: #333;
}
.confirm-middle .gray-color {
    color: #666;
}
.confirm-right {
    padding-top: 14px;
    position: relative;
}
.confirm-right i {
    font-size: 38px;
    font-weight: 700;
    color: #666;
    position: absolute;
    left: 20px;
}
.confirm-left i {
    font-size: 67px;
    font-weight: 700;
    color: #666;
    position: relative;
    right: 20px;
}

/* End Payment page*/
.swal2-modal{
    font-family: dl !important;
}

.span-delete 
{
    font-size: 14px;
    background-color: red;
    color: #fff;
    padding: 5px;
}